html, body {
  min-height: 100vh;
}

.animateOpacity {
  transition: 1s opacity ease-in-out;
}

.my-animate {
  transition: 0.5s all ease-in-out;
}

.my-alert-body {
  position: absolute;
}

.my-alert-no-opacity {
  opacity: 0;
}

#notification_container {
  position: fixed;
  top: 1rem;
  left: 50%;
  max-width: 50ch;
  height: auto;
  opacity: 1;
  z-index:  1; /* needs to be over everything */
  transform: translate(-50%, 0);
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index:  -999;

  transition: all 1s ease-in-out;
}

main {
  height: 100vh;
}

/* Overriding Boostrap */
.nav-item {
  /* 9999px isn't specific. It just needs to be really big */
  max-height: 9999px;
  overflow: hidden;
  transition: all .3s ease;
}

.nav-item.disabled {
  max-height: 0;
}

/* Password Manager CSS */
.my-initial-pane {
  display: none;
}

.my-initial-pane.my-initial-pane-open {
  display: unset;
}

#home_pane main {
  border-left:1px solid lightgray;
}

