@import url("common/inputOutlines.css");
@import url("common/inputFontTooLight.css");

.nav-link {
    padding: 0;
}

.bg-light, .accordion-button {
    background-color: #787f7f59 !important;
}

.accordion-button[aria-expanded=true] {
    color: #b8dbff
}